---
import SpeedInsights from '@vercel/speed-insights/astro';
// We voegen 'description' en 'schema' toe aan de props
const { title, description, schema } = Astro.props;
---
<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    
    {description && <meta name="description" content={description} />}
    
    <!-- Google Rich Snippets (Schema.org) -->
    {schema && <script type="application/ld+json" set:html={JSON.stringify(schema)} />}

    
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-gray-50">
    <slot />
    <!-- We laden de InstantSearch CSS direct voor de styling van de filters -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css">
    <SpeedInsights />
  </body>
</html>
